<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.LRTNZ.testvlcapplication">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-feature android:name="android.software.leanback" android:required="true"/>
  <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:banner="@mipmap/ic_launcher"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">

    <activity
      android:name="App"
      android:configChanges="keyboard|keyboardHidden|navigation"
      android:label="Test VLC App"
      android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
      android:launchMode="singleInstance">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
      </intent-filter>

    </activity>


  </application>

</manifest>
